# ----------------------------------------------------------------------------------------------------------------------
# Solution:  SolutionName
# File:      .editorconfig
#if (!CompanyIsEmpty)
# Copyright: Copyright © CURRENT-YEAR COMPANY-NAME. All rights reserved.
#endif
#if (!LicenseIdentifierIsEmpty)
# License:   Licensed under the LICENSE-IDENTIFIER license. See LICENSE file for full license information.
#endif
# ----------------------------------------------------------------------------------------------------------------------
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length=100

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

[*.*scss]
max_line_length=100
