@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <svg><use xlink:href="#Application"></use></svg>
    <h1 class="display-4">SolutionName</h1>
    <p>For template repos and further information click <a href="https://github.com/bboy77/Templates">here</a>.</p>
</div>