@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-page">
    <svg><use xlink:href="#Privacy"></use></svg>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>