@page
@model MultiProjectApplicationEx.RazorPagesUI.Pages.StylesModel
@{
    ViewData["Title"] = "Styles";
}

<h1>Styles</h1>

<h2>Buttons</h2>

<div class="d-inline-flex gap-1">
    <button class="btn-create">
        <svg><use xlink:href="#AddRowButton"></use></svg>
        <span>Create</span>
    </button>
    <button class="btn-edit">
        <svg><use xlink:href="#EditDatabaseButton"></use></svg>

        Edit
    </button>
</div>

<div class="card col-lg-10 mx-auto my-5">
    <div class="card-header">
        <div class="card-title">
            <svg><use xlink:href="#AddRow"></use></svg>
            <span>Create TodoItem</span>
        </div>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-create" form="CreateForm">
            <svg><use xlink:href="#AddRowButton"></use></svg>
            <span>Create</span>
        </button>
        <a asp-page="./Index" class="btn btn-back">
            <svg><use xlink:href="#BackToResultList"></use></svg>
            <span>Back to TodoItems</span>
        </a>
    </div>
</div>

