/* buttons.scss */
@use "../abstracts" as *;
@use "sass:color";


%btn-base {
    $color: to-hsla(map-get( $map: $colors-notifications, $key: "white" ) );

    border: 1px solid transparent;
    align-items: center;
    color: $color;
    display: flex;
    border-radius: .25rem;
    padding: .5rem .75rem;
    gap: 0.5rem;
    justify-content: center;

    &:hover {
        color: $color;
    }

    & > svg {
        height: 1em;
        width: 1em;
    }
}

@mixin set-button($background-color) {
    background-color: to-hsla($background-color);

    &:active,
    &:focus {
        box-shadow: 0 0 0 0.25rem to-hsla(color.adjust($background-color, $alpha: -0.5));
    }

    &:active,
    &:focus,
    &:hover {
        background-color: to-hsla(color.adjust($background-color, $lightness: -10%));
    }
}

.btn-back,
.btn-create,
.btn-delete,
.btn-edit {
    @extend %btn-base;
}

.btn-back {
    @include set-button(map-get($colors-base, "vs-bg"));
}

.btn-create {
    @include set-button(map-get($colors-notifications, "vs-green"));
}

.btn-delete {
    @include set-button(map-get($colors-notifications, "vs-red"));
}

.btn-edit {
    @include set-button(map-get($colors-notifications, "vs-blue"));
}
